// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
// $light-weight: 200;
// $light: 300;
// $bold: 400;

//colors

$blue: #2A3141;
$light-blue: #7DA3BE;
$light-blue-2: #5D8FFF;
$white: #FCFCFC;
$whitey: #FFF;
$black: #00000029;
$dark: #1C212E;

